/* Main page content */
html
{
	word-wrap: normal;
}

@media (orientation: landscape)
{
	html
	{
		font-size: 16px;
	}
}

@media (orientation: portrait)
{
	html
	{
		font-size: 24px;
	}
}

a, a:hover, a:visited
{
	color: blue;
}

p
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.content
{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	width: 0;
}

.picture
{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.picture p
{
	font-style: italic;
}

.back
{
	cursor: pointer;
}

.footnotes
{
	font-size: 12px;
	position: relative;
	left: .5em;
	width: 99%;
}

.signature
{
	font-style: italic;
	text-align: right;
	margin-right: 2em;
}

/* Shared elements */
.titlebar
{
	margin-top: 0;
	padding-left: 0.2em;
	color: white;
	position: relative;
}

hr
{
	width: 90%;
}

.fakemenu
{
	background-color: #edead6;
	margin-top: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.2em;
	display: none;
}

.buttoncontainer
{
	position: absolute;
	display: flex;
	top: .15em;
	right: 0.2em;
	padding: 0.05em;
}

.fakebutton
{
	font-family: "Lucida Console";
	font-weight: bold;
	color: black;
	text-align: center;
}

@media (orientation: landscape)
{
	.fakebutton
	{
		font-size: 14px;
		width: 1em;
		height: 1em;
	}
}

@media (orientation: portrait)
{
	.fakebutton
	{
		font-size: 21px;
		width: 1.25em;
		height: 1.25em;
	}
}

/* Side bar */
.sidenav
{
	position: fixed;
	min-width: 10em;
	height: 0;
}

@media (orientation: landscape)
{
	.sidenav
	{
		display: block;
	}
}

@media (orientation: portrait)
{
	.sidenav
	{
		display: none;
	}
}

.sidenav img
{
	height: 24px;
	width: auto;
}

.sidenavmenu
{
	margin-left: 0.5em;
}

.sidenavmenu a, .sidenavmenu a:hover, .sidenavmenu a:visited
{
	color: black;
	text-decoration: none;
}

/* Top nav menu (hidden) */
.topnav
{
	position: relative;
	width: 100%;
	height: auto;
	font-size: 18px;
}

@media (orientation: landscape)
{
	.topnav
	{
		display: none;
	}
}

@media (orientation: portrait)
{
	.topnav
	{
		display: block;
	}
}

.topnav img
{
	height: 24px;
	width: auto;
}

.topnavmenu
{
	padding-top: .5em;
	padding-bottom: .5em;
	display: flex;
	flex-wrap: wrap;
	font-size: 18px;
	justify-content: center;
}

.topnavmenu a, .topnavmenu a:hover, .topnavmenu a:visited
{
	color: black;
	text-decoration: none;
}

/* Blog post */
.blogpost
{
	margin-top: 0.5em;
	color: black;
}

.blogpost img
{
	display: block;
	margin: auto;
	max-width: 35%;
}

.blogpost table
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.blogpost ul
{
	padding-left: 1.5em;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0.5em 0 0.5em 0;
}

.blogpost dl
{
	padding-left: 1.5em;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0.5em 0 0.5em 0;
}

.gridview
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.gridview img
{
	margin: 0.5em;
	max-width: 20%;
	height: auto;
}

/* ??? */
#styleselector
{
	display: none;
}