.blogpost {
  margin-bottom: 1em;
  padding-bottom: 1em;
  @media (orientation: landscape) {
    width: 98%;
  }
  @media (orientation: portrait) {
    width: 98%;
  }
}

.blogpost p,
.blogpost ul,
.blogpost dl {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.buttoncontainer {
  @media (orientation: landscape) {
    display: flex;
    justify-content: flex-end;
  }
  @media (orientation: portrait) {
    display: none;
  }
}

.buttonlabel {
  position: relative;
  @media (orientation: landscape) {
    bottom: 2px;
  }
  @media (orientation: portrait) {
    bottom: 3px;
  }
}

.fakebutton_close,
.fakebutton_maximize,
.fakebutton_minimize {
  box-sizing: border-box;
  @media (orientation: landscape) {
    font-size: 12px;
  }
  @media (orientation: portrait) {
    font-size: 18px;
  }
}

.fakebutton_maximize {
  margin-right: 2px;
}

.fakebutton_minimize {
  margin-right: 0px;
}

.fakelink {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.fakemenu {
  display: none; /* Hide by default, show in the actual styles */
  margin-top: 0;
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  padding-top: 0.5em;
  @media (orientation: landscape) {
    font-size: 12px;
  }
  @media (orientation: portrait) {
    font-size: 18px;
  }
}

.fakemenu span {
  box-sizing: border-box;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.fakemenu span:hover {
  box-shadow: inset 0 0 0 1px grey;
}

.footerBadges {
  display: flex;
  justify-content: center;
}

.footnotes {
  font-size: 12px;
  left: 0.5em;
  position: relative;
  width: 99%;
}

.gridview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  & > img {
    height: auto;
    margin: 0.5em;
    max-width: 20%;
  }
}

.heading {
  font-weight: bold;
  text-decoration: underline;
  @media (orientation: landscape) {
    font-size: 18px;
  }
  @media (orientation: portrait) {
    font-size: 26px;
  }
}

.navigationWidget {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > a {
    color: blue;
  }
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  & > p {
    font-style: italic;
    @media (orientation: landscape) {
      font-size: 12px;
    }
    @media (orientation: portrait) {
      font-size: 20px;
    }
  }

  & > img {
    display: block;
    margin: auto;
    height: auto;
    @media (orientation: landscape) {
      max-width: 50%;
    }
    @media (orientation: portrait) {
      max-width: 50%;
    }
  }
}

.signature {
  font-style: italic;
  margin-right: 2em;
  text-align: right;
}

.title {
  margin-left: 0.25em;
}

.titlebar {
  border-bottom: 1px solid black;
  width: 100%;
  @media (orientation: landscape) {
    font-size: 16px;
  }
  @media (orientation: portrait) {
    font-size: 24px;
  }
}

#articles {
  height: inherit;
}

#landscapeMenu {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  height: inherit;
  @media (orientation: landscape) {
    display: table-cell;
  }
  @media (orientation: portrait) {
    display: none;
  }

  & > nav > #menucontainer {
    height: 95.5%;
  }
}

#main {
  @media (orientation: landscape) {
    width: 60%;
  }
  @media (orientation: portrait) {
    width: 100%;
  }
}

#navbadges {
  display: flex;
  justify-content: center;
  width: 100%;
}

#portraitMenu {
  width: auto;
  @media (orientation: landscape) {
    display: none;
  }
  @media (orientation: portrait) {
    display: block;
  }

  & > td {
    padding: 0;
  }
}

a,
a:hover,
a:visited {
  color: blue;
}

#articles {
  display: block;
  overflow-y: auto;
}

#wrapper {
  display: flex;
  justify-content: center;
}

hr {
  width: 95%;
}

html {
  background-color: #999999;
  @media (orientation: landscape) {
    font-size: 14px;
  }
  @media (orientation: portrait) {
    font-size: 22px;
  }
}

nav {
  border: 1px solid black;
  box-sizing: border-box;
  height: inherit;

  & > div > dl {
    margin-left: 0.5em;
    @media (orientation: landscape) {
      font-size: 18px;
    }
    @media (orientation: portrait) {
      font-size: 26px;
    }
  }
  & > div > dl > dt > img {
    height: 24px;
    width: auto;
  }

  & > table > tbody > tr > .buttoncontainer {
    @media (orientation: landscape) {
      display: none;
    }
    @media (orientation: portrait) {
      display: none;
    }
  }
}

nav a,
nav a:hover,
nav a:visited {
  color: black;
  text-decoration: none;
}

sup {
  font-style: italic;
  @media (orientation: landscape) {
    font-size: 10px;
  }
  @media (orientation: portrait) {
    font-size: 18px;
  }
}

tbody {
  vertical-align: top;
}

textarea {
  overflow-y: scroll;
  resize: none;
  @media (orientation: landscape) {
    font-size: 14px;
    height: 150px;
    width: 60%;
  }
  @media (orientation: portrait) {
    font-size: 22px;
    height: 300px;
    width: 95%;
  }
}
