/* Main page content */
html
{
	word-wrap: normal;
}

@media (orientation: landscape)
{
	html { font-size: 14px; }
	#langbar img { height: 36px; }
	#langText { font-size: 28px; margin: 0; }
}

@media (orientation: portrait)
{
	html { font-size: 24px; }
	#langbar img { height: 48px; }
	#langText { font-size: 40px; margin: 0; }
}

body { margin: 0; }

a, a:hover, a:visited
{
	color: blue;
}

p
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.content
{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	width: 0;
}

.picture
{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.picture p
{
	font-style: italic;
}

.back
{
	cursor: pointer;
}

.footnotes
{
	font-size: 12px;
	position: relative;
	left: .5em;
	width: 99%;
}

.signature
{
	font-style: italic;
	text-align: right;
	margin-right: 2em;
}

.titlebar
{
	margin-top: 0;
	padding-left: 0.2em;
	color: white;
	position: relative;
}

hr
{
	width: 90%;
}

.fakemenu
{
	background-color: #edead6;
	margin-top: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.2em;
	display: none;
}

.fakemenu span
{
	box-sizing: border-box;
	padding: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.fakemenu span:hover 
{
	box-shadow: inset 0 0 0 1px grey;
}

.buttoncontainer
{
	position: absolute;
	right: 0.2em;
	display: flex;
	align-content: center;
}

.fakebutton_minimize
{
	font-family: "Marlett", "Webdings";
	color: black;
	text-align: center;
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1px 0 1px;
}

.fakebutton_maximize
{
	font-family: "Marlett", "Webdings";
	color: black;
	text-align: center;
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1px 0 1px;
}

.fakebutton_close
{
	font-family: "Marlett", "Webdings";
	color: black;
	text-align: center;
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1px 0 1px;
}

@media (orientation: landscape)
{
	.fakebutton_minimize .fakebutton_maximize .fakebutton_close
	{
		font-size: 14px;
		width: 1em;
		height: 1em;
	}
}

@media (orientation: portrait)
{
	.fakebutton_minimize .fakebutton_maximize .fakebutton_close
	{
		font-size: 21px;
		width: 1.25em;
		height: 1.25em;
	}
}

/* Nav menu */
nav
{
	min-width: 10em;
	height: 0;
}

@media (orientation: landscape)
{
	nav
	{
		position: fixed;
		min-width: 10em;
		width: 10%;
		height: 98%;
		left: 15%;
		top: 10px;
	}
}

@media (orientation: portrait)
{
	nav
	{
		position: relative;
		left: 1%;
		width: 98%;
		height: auto;
		font-size: 18px;
	}
}

nav img
{
	height: 24px;
	width: auto;
}

nav a, nav a:hover, nav a:visited
{
	color: black;
	text-decoration: none;
}

.horizontalmenu
{
	margin-left: 0.5em;
	min-width: 200px;
}

.verticalmenu
{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media (orientation: landscape)
{
	.horizontalmenu	{ display: block; }
	.verticalmenu {	display: none; }
}

@media (orientation: portrait)
{
	.horizontalmenu	{ display: none; }
	.verticalmenu {	display: flex; }
}

/* Content section */
@media (orientation: landscape)
{
	.content
	{
		width: 50%;
	}
}

@media (orientation: portrait)
{
	.content
	{
		width: 98%;
		left: 1%;
	}
}

/* Blog post */
.blogpost
{
	margin-top: 0.5em;
	color: black;
}

.blogpost img
{
	display: block;
	margin: auto;
	max-width: 35%;
}

.blogpost table
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.blogpost ul
{
	padding-left: 1.5em;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0.5em 0 0.5em 0;
}

.blogpost dl
{
	padding-left: 1.5em;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0.5em 0 0.5em 0;
}

.gridview
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.gridview img
{
	margin: 0.5em;
	max-width: 20%;
	height: auto;
}

/* Style selector */
#styleselector
{
	display: block;
}

/* Badges */
.badges
{
	width: 98%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.navbadges
{
	position: absolute;
	bottom: 2px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.navbadges img
{
	width: 88px;
	height: 31px;
}