/* Main page content */
html
{
	background-image: linear-gradient(to bottom, #444444, #555555);
	background-attachment: fixed;
	background-size: cover;
	font-family: "Tahoma";
}

/* Shared elements */
.titlebar
{
	background-image: linear-gradient(to top, #161d2d, #919195);
	border-radius: 6px 6px 0 0;
}

.fakemenu
{
	display: block;
}

.fakebutton
{
	background-color: #f66e51;
	font-family: "Lucida Console";
	font-weight: bold;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
}

/* Side bar */
.sidenav
{
	border: 3px solid #919195;
	border-radius: 10px 10px 0 0;
	background-color: #707a82;
}

/* Top menu (hidden) */
.topnav
{
	border: 3px solid #919195;
	border-radius: 10px 10px 0 0;
	background-color: #707a82;
}

/* Blog post */
.blogpost
{
	background-color: #FFFFFF;
	color: black;
	border: 3px solid #919195;
	border-radius: 10px 10px 0 0;
}
