/* Main page content */
html
{
	background-color: #008080;
	background-image: url("/common/images/bliss.png");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Tahoma";
}

/* Shared elements */
.titlebar
{
	background-image: linear-gradient(to top, #FFFFFF, #b2b2b2, #b2b2b2);
	border-radius: 6px 6px 0 0;
	color: black;
}

.fakemenu
{
	display: block;
}

.fakebutton
{
	background-color: #f66e51;
	font-family: "Lucida Console";
	font-weight: bold;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
}

/* Side bar */
.nav
{
	border: 3px solid #b2b2b2;
	border-radius: 10px 10px 0 0;
	background-color: #e7e6ee;
}

/* Top menu (hidden) */
.topnav
{
	border: 3px solid #b2b2b2;
	border-radius: 10px 10px 0 0;
	background-color: #e7e6ee;
}

/* Blog post */
.blogpost
{
	background-color: #FFFFFF;
	color: black;
	border: 3px solid #b2b2b2;
	border-radius: 10px 10px 0 0;
}
