@font-face {
  font-family: W95Font;
  src: url("/common/W95font.otf");
}

.blogpost {
  background-color: #687868;
  border-radius: 0;
  border: 3px solid grey;
  color: black;
}

.fakebutton_close,
.fakebutton_maximize,
.fakebutton_minimize {
  background-color: #687868;
  border-radius: 0;
  border: 2px outset;
  color: black;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakemenu {
  display: none;
}

.navigationWidget {
  & > a {
    color: white;
  }
}

.titlebar {
  background-image: linear-gradient(to right, #503840, #503840);
  border-bottom: unset;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

html {
  background-attachment: fixed;
  background-color: #008080;
  background-image: url("/common/images/mystery.jpg");
  background-position-y: -25em;
  background-size: cover;
  color: white;
  font-family: "W95Font";
}

nav {
  background-color: #687868;
  border-radius: 0;
  border: 3px solid grey;
}
