@font-face {
  font-family: W95Font;
  src: url("/common/W95font.otf");
}

.blogpost {
  background-color: #000000;
  border-radius: 0;
  border: 3px solid #00ff00;
  color: #00ff00;
}

.fakebutton_close {
  background-color: #000000;
  border-radius: 0;
  border: 1px solid #00ff00;
  color: #00ff00;
  font-family: "Marlett", "Webdings", "W95Font";
  font-weight: normal;
  text-align: center;
}

.fakebutton_maximize {
  background-color: #000000;
  border-radius: 0;
  border: 1px solid #00ff00;
  color: #00ff00;
  font-family: "Marlett", "Webdings", "W95Font";
  font-weight: normal;
  text-align: center;
}

.fakebutton_minimize {
  background-color: #000000;
  border-radius: 0;
  border: 1px solid #00ff00;
  color: #00ff00;
  font-family: "Marlett", "Webdings", "W95Font";
  font-weight: normal;
  text-align: center;
}

.fakemenu {
  display: none;
}

.titlebar {
  background-image: linear-gradient(to right, #00ff00, #00ff00);
  border-bottom: unset;
  border-radius: 0;
  color: black;
  font-weight: bold;
}

a,
a:hover,
a:visited,
nav a,
nav a:hover,
nav a:visited {
  color: #00ff00;
}

html {
  background-attachment: fixed;
  background-color: #000000;
  background-image: unset;
  background-size: cover;
  color: #00ff00;
  font-family: "W95Font";
}

nav {
  background-color: #000000;
  border-radius: 0;
  border: 3px solid #00ff00;
}

 {
  color: #00ff00;
}
