@font-face {
    font-family: W95Font;
    src: url("/common/W95font.otf");
}

html {
    background-color: #008080;
    background-image: url("/common/images/mystery.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -25em;
    font-family: "W95Font";
}

.titlebar {
    background-image: linear-gradient(to right, #503840, #503840);
    color: white;
    font-weight: bold;
    border-radius: 0;
}

.fakemenu {
    display: none;
}

.fakebutton {
    background-color: #87888f;
    font-family: "Marlett", "Webdings", "W95Font";
    font-weight: bold;
    color: black;
    border: 2px outset;
    border-radius: 0;
    text-align: center;
}

nav {
    border: 3px solid grey;
    border-radius: 0;
    background-color: #87888f;
}

.blogpost {
    background-color: #87888f;
    color: black;
    border: 3px solid grey;
    border-radius: 0;
}