@font-face {
    font-family: W95Font;
    src: url("/common/W95font.otf");
}

html {
    background-color: #000000;
    background-image: unset;
    background-attachment: fixed;
    background-size: cover;
    font-family: "W95Font";
    color: #00FF00;
}

a, a:hover, a:visited {
    color: #00FF00;
}

.titlebar {
    background-image: linear-gradient(to right, #00ff00, #00ff00);
    color: black;
    font-weight: bold;
    border-radius: 0;
}

.fakemenu {
    display: none;
}

.fakebutton {
    background-color: #000000;
    font-family: "Marlett";
    font-weight: bold;
    color: #00FF00;
    border: 1px solid #00FF00;
    border-radius: 0;
    text-align: center;
}

nav {
    border: 3px solid #00FF00;
    border-radius: 0;
    background-color: #000000;
}

nav a, nav a:hover, nav a:visited {
    color: #00FF00;
}

.topnav a, .topnav a:hover, .topnav a:visited {
    color: #00FF00;
}

.blogpost {
    background-color: #000000;
    color: #00FF00;
    border: 3px solid #00FF00;
    border-radius: 0;
}