@font-face {
  font-family: W95Font;
  src: url("/common/W95font.otf");
}

.blogpost {
  background-color: #a89890;
  border-radius: 0;
  border: 3px solid #756964;
  color: black;
}

.fakebutton_close {
  background-color: #a89890;
  border-radius: 0;
  border: 2px outset;
  color: black;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakebutton_maximize {
  background-color: #a89890;
  border-radius: 0;
  border: 2px outset;
  color: black;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakebutton_minimize {
  background-color: #a89890;
  border-radius: 0;
  border: 2px outset;
  color: black;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakemenu {
  display: none;
}

.titlebar {
  background-image: linear-gradient(to right, #484060, #484060);
  border-bottom: unset;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

html {
  background-attachment: fixed;
  background-color: #000000;
  background-image: unset;
  background-size: cover;
  color: white;
  font-family: "W95Font";
}

nav {
  background-color: #a89890;
  border-radius: 0;
  border: 3px solid #756964;
}
