@font-face {
  font-family: W95Font;
  src: url("/common/W95font.otf");
}

.blogpost {
  background-color: #aaaaaa;
  border-radius: 0;
  border: 3px solid grey;
  color: black;
}

.fakebutton_close {
  background-color: #aaaaaa;
  border-radius: 0;
  border: 2px outset;
  color: black;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakebutton_maximize {
  background-color: #aaaaaa;
  border-radius: 0;
  border: 2px outset;
  color: black;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakebutton_minimize {
  background-color: #aaaaaa;
  border-radius: 0;
  border: 2px outset;
  color: black;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakemenu {
  display: none;
}

.titlebar {
  background-image: linear-gradient(to right, #000080, #000080);
  border-bottom: unset;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

html {
  background-attachment: fixed;
  background-color: #008080;
  background-image: unset;
  background-size: cover;
  font-family: "W95Font";
}

nav {
  background-color: #aaaaaa;
  border-radius: 0;
  border: 3px solid grey;
}
