@font-face {
    font-family: "Perfect DOS VGA 437"; 
    src: url("/common/Perfect DOS VGA 437.ttf"); 
}

html {
    background-color: black;
    color: white;
    font-family: "Perfect DOS VGA 437";
}

.bios_copyrightnotice {
    font-family: "Perfect DOS VGA 437";
}

pre {
    font-family: "Perfect DOS VGA 437";
}

.bios_box {
    width: 40%;
    box-sizing: content-box;
    border: 5px double white;
    display: flex;
    flex-direction: column;
    background-color: unset;
    color: white;
}

.cursor {
    background-color: grey;
    color: black;
    font-weight: bold;
}

a, a:hover, a:visited
{
	color: white;
}