@font-face {
  font-family: "Perfect DOS VGA 437 Win";
  src: url("/common/Perfect DOS VGA 437 Win.ttf");
}

.bios_box {
  background-color: unset;
  border: 5px double white;
  box-sizing: content-box;
  color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.bios_copyrightnotice {
  font-family: "Perfect DOS VGA 437 Win";
}

.cursor {
  background-color: grey;
  color: black;
  font-weight: bold;
}

a,
a:hover,
a:visited {
  color: white;
}

html {
  background-color: black;
  color: white;
  font-family: "Perfect DOS VGA 437 Win";
}

pre {
  font-family: "Perfect DOS VGA 437 Win";
}
