.blogpost {
  background-color: #c6b2a8;
  border-radius: 0;
  border: 3px solid #eda870;
  color: black;
}

.fakebutton_close {
  background-color: #eda870;
  border-radius: 0;
  border: 3px outset;
  color: #eda870;
  font-family: "Marlett", "Webdings";
  font-weight: bold;
  text-align: center;
}

.fakebutton_maximize {
  color: #eda870;
  display: none;
}

.fakebutton_minimize {
  color: #eda870;
  display: none;
}

.fakemenu {
  background-color: #4991a7;
  color: white;
  display: block;
}

.titlebar {
  background-image: linear-gradient(to right, #eda870, #eda870);
  border-bottom: unset;
  border-radius: 0;
  color: white;
  font-weight: unset;
  text-align: center;
}

html {
  background-attachment: fixed;
  background-color: #008080;
  background-image: unset;
  background-size: cover;
  font-family: "Lucida Console";
}

nav {
  background-color: #c6b2a8;
  border-radius: 0;
  border: 3px solid #eda870;
}
