@font-face {
  font-family: "Perfect DOS VGA 437 Win";
  src: url("/common/Perfect DOS VGA 437 Win.ttf");
}

.blogpost {
  background-color: unset;
  border-radius: 0;
  border: 3px double white;
  color: white;
}

.fakebutton_close,
.fakebutton_maximize,
.fakebutton_minimize,
.fakemenu {
  display: none;
}

.titlebar {
  background-image: unset;
  border-bottom: 3px double white;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

a,
a:hover,
a:visited,
nav a,
nav a:hover,
nav a:visited,
hr {
  color: white;
}

html {
  background-attachment: fixed;
  background-color: #000000;
  background-image: unset;
  background-size: cover;
  color: white;
  font-family: "Perfect DOS VGA 437 Win";
}

nav {
  background-color: unset;
  border-radius: 0;
  border: 3px double white;
}
