@font-face {
  font-family: NotoSans-Regular;
  src: url("/common/NotoSans-Regular.ttf");
}

.blogpost {
  background-color: #ffffff;
  border-radius: 0;
  border: unset;
  color: black;
}

.fakebutton_close,
.fakebutton_maximize,
.fakebutton_minimize {
  display: none;
}

.fakemenu {
  display: none;
}

.navigationWidget {
  & > a {
    color: black;
  }
}

.titlebar {
  background-image: linear-gradient(to right, #bf0000, #bf0000);
  border-bottom: unset;
  border-radius: 0;
  color: white;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0;
}

html {
  background-attachment: fixed;
  background-color: #bbbbbb;
  background-image: unset;
  background-size: cover;
  color: black;
  font-family: "NotoSans-Regular";
}

nav {
  background-color: #ffffff;
  border-radius: 0;
  border: unset;

  & > dl > dt > a,
  a:hover,
  a:visited {
    color: black;
  }
}
