.blogpost {
  border: 3px outset #ddd;
  border-radius: 10px;
  background-color: unset;
  color: white;
}

.fakebutton_close,
.fakebutton_maximize,
.fakebutton_minimize,
.fakemenu {
  display: none;
}

.titlebar {
  background-image: linear-gradient(to right, #ddd, #999);
  border-bottom: unset;
  color: black;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}

a,
a:hover,
a:visited,
nav a,
nav a:hover,
nav a:visited {
  color: white;
}

html {
  background-color: #00a;
  background-image: url("/common/images/stars.gif");
  background-attachment: fixed;
  background-size: auto;
  background-repeat: repeat;
  color: white;
}

nav {
  border: 3px outset #ddd;
  border-radius: 10px;
  background-color: unset;
  color: white;
}
