.blogpost {
  background-color: #fff;
  border-radius: 0;
  border: 3px solid #5094f8;
  color: black;
}

.fakebutton_close,
.fakebutton_maximize,
.fakebutton_minimize {
  background-color: #5094f8;
  border-radius: 0;
  border: 1px solid;
  color: lightblue;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakemenu {
  background-color: #f4f4f0;
  display: block;
}

.titlebar {
  background-image: linear-gradient(
    to right,
    #5094f8,
    #5094f8,
    #5094f8,
    #3573d6
  );
  border-bottom: unset;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

html {
  background-attachment: fixed;
  background-color: #004e98;
  background-image: unset;
  background-size: cover;
  font-family: "Tahoma";
}

nav {
  background-color: #fff;
  border-radius: 0;
  border: 3px solid #5094f8;
}
