html {
    background-attachment: fixed;
    background-size: cover;
    font-family: "Tahoma";
}

 .titlebar {
    background-image: linear-gradient(to right, #000080, #a3c6ed);
    color: white;
    font-weight: bold;
    border-radius: 0;
}

 .fakemenu {
    display: block;
    background-color: #d4d0c8;
    box-sizing: border-box;
    border-bottom: 1px groove darkgray;
}

 .fakebutton {
    background-color: #AAAAAA;
    font-family: "Marlett", "Webdings", "W95Font";
    font-weight: bold;
    color: black;
    border: 2px outset;
    border-radius: 0;
    text-align: center;
}

 nav {
    border: 3px solid #a19d97;
    border-radius: 0 0 0;
    background-color: #d4d0c8;
}

 .blogpost {
    background-color: #FFFFFF;
    color: black;
    border: 3px outset #a19d97;
    border-radius: 0;
}