html {
	background-color: #202020;
	background-image: url("/common/images/bliss.png");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Tahoma";
}

.titlebar {
	background-image: linear-gradient(to top, #0042b6, #0055ea, #0042b6);
	border-radius: 6px 6px 0 0;
	color: white;
}

.fakemenu {
	display: block;
}

.fakebutton_minimize {
	background-color: #0055ea;
	font-family: "Marlett", "Webdings", "W95Font";
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	text-align: center;
}

.fakebutton_maximize {
	background-color: #0055ea;
	font-family: "Marlett", "Webdings", "W95Font";
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	text-align: center;
}

.fakebutton_close {
	background-color: #f66e51;
	font-family: "Marlett", "Webdings", "W95Font";
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	text-align: center;
}

 nav {
	border: 3px solid #0042b6;
	border-radius: 10px 10px 0 0;
	background-color: #667ad8;
}

.blogpost {
	background-color: #FFFFFF;
	color: black;
	border: 3px solid #0042b6;
	border-radius: 10px 10px 0 0;
}
