.blogpost {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  border: 3px solid #8b956a;
  color: black;
}

.fakebutton_close {
  background-color: #f66e51;
}

.fakebutton_close,
.fakebutton_maximize,
.fakebutton_minimize {
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  font-family: "Marlett", "Webdings", "W95Font";
  text-align: center;
}

.fakemenu {
  background-color: #edead6;
  display: block;
}

.titlebar {
  background-image: linear-gradient(to top, #8b956a, #bbc98f, #8b956a);
  border-bottom: unset;
  border-radius: 6px 6px 0 0;
  color: white;
}

html {
  background-attachment: fixed;
  background-color: #202020;
  background-image: url("/common/images/bliss.png");
  background-size: cover;
  font-family: "Tahoma";
}

nav {
  background-color: #bbc98f;
  border-radius: 10px 10px 0 0;
  border: 3px solid #8b956a;
}
