html {
	background-color: #202020;
	background-image: url("/common/images/energybliss.png");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Tahoma";
}

.titlebar {
	background-image: linear-gradient(to top, #161d2d, #556271);
	border-radius: 6px 6px 0 0;
	color: white;
}

.fakemenu {
	display: block;
	background-color: #f0eef1
}

.fakebutton_minimize {
	background-color: #161d2d;
	font-family: "Marlett", "Webdings", "W95Font";
	color: white;
	border: unset;
	border-radius: 3px;
	text-align: center;
}

.fakebutton_maximize {
	background-color: #161d2d;
	font-family: "Marlett", "Webdings", "W95Font";
	color: white;
	border: unset;
	border-radius: 3px;
	text-align: center;
}

.fakebutton_close {
	background-color: #f66e51;
	font-family: "Marlett", "Webdings", "W95Font";
	color: white;
	border: unset;
	border-radius: 3px;
	text-align: center;
}

nav {
	border: 3px solid #556271;
	border-radius: 10px 10px 0 0;
	background-color: #707a82;
}

.blogpost {
	background-color: #FFFFFF;
	color: black;
	border: 3px solid #556271;
	border-radius: 10px 10px 0 0;
}
