html {
    background-color: #FFFFFF;
    background-image: url("/common/images/bliss.png");
    background-attachment: fixed;
    background-size: cover;
    font-family: "Tahoma";
}

 .titlebar {
    background-image: linear-gradient(to top, #FFFFFF, #b2b2b2, #b2b2b2);
    border-radius: 6px 6px 0 0;
    color: black;
}

 .fakemenu {
    display: block;
}

 .fakebutton {
    background-color: #f66e51;
    font-family: "Marlett";
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
}

 nav {
    border: 3px solid #b2b2b2;
    border-radius: 10px 10px 0 0;
    background-color: #e7e6ee;
}

 .blogpost {
    background-color: #FFFFFF;
    color: black;
    border: 3px solid #b2b2b2;
    border-radius: 10px 10px 0 0;
}